
.home_pages{
    
}
.site_header {
    background-color: #6699FF;
    text-align: right;
    margin: 20px;
    padding: 0px;
   
}
.site_header_item {
    background-color: #6699FF;
    margin: 0px;
    padding: 15px;
    
}
.site_header_item li {
    display: inline;
    font: bold 12px/1.5 Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 10px;
}
.site_header_item li a {
     color: white;
     text-decoration: none;
}
.site_header_item li a:hover {
    color: #2980B2;
}


