
body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    color: #525252;
    font-family: "Lora", serif;
    font-size: 12px;
}

.site_header {
    background-color: #6699FF;
    text-align: right;
    margin: 0px;
    padding: 0px;
   
}
.site_header_item {
    background-color: #6699FF;
    margin: 0px;
    padding: 15px;
    
}
.site_header_item li {
    display: inline;
    font: bold 12px/1.5 Arial, Helvetica, sans-serif;
    padding: 10px;
}
.site_header_item li a {
     color: white;
     text-decoration: none;
}
.site_header_item li a:hover {
    color: #041A5C;
}

footer {
    color: #fff;
    background-color: #525252
    
}
.bottom_footer {
    background-color: #6699FF;
    text-align: left;
    margin: 0px;
    padding: 15px;
}
