
    
@media screen and (max-width: 770px) {
    header {
        display: none;
    }
    nav ul {
        display: none;
    }
    main {
        flex-wrap: wrap;
    }
    main article {
        order: 1;
    }
    main aside {
        order: 2;
    }
    main aside .form_send_box {
        border: 1px solid;
        border-color: #ff9900;
        visibility: visible;
        
 
}
    .top_menu {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 20px;
    }
    #blog {
        color: #ff9900;
        background-color: #fff;
        border: 1px solid;
        border-color: #ff9900; 
        border-radius: 4px;
        text-transform: uppercase;
        padding: 10px 25px;
        margin: 10px;
    }
    #contacts {
        color: #fff;
        background-color: #ff9900;
        border: 1px solid;
        border-color: #ff9900; 
        border-radius: 4px;
        text-transform: uppercase;
        padding: 10px;
        margin: 10px;
    }
    .learne_about {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 20px;
    }
}
    
@media screen and (max-width: 450px) {
   
    .top_menu ul{
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0;
        justify-content: center;
}
    #blog {
        display: flex;
        padding: 10px;
        margin: 0;
        justify-content: center;
    }
    #contacts {
        display: flex;
        padding: 10px;
        margin: 0;
        justify-content: center;
    }
    .learne_about ul{
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0;
        justify-content: center;
}

}